DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

CORS_ALLOWED_ORIGINS=http://localhost:5173

APIFY_TOKEN=
APIFY_ALIBABA_ACTOR_ID=8EM2KQP90np87iSY5

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
